
.App {
  text-align: center;
  font-family: "Montserrat", Oswald;
  margin: 0;
}
html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0!important;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login */
.login-image{
  width: 1300px;
  max-height: 100%;
  border-radius: 0 10px 10px 0 ;
  position: relative;
  object-fit: cover;
}
.main-header-login{
  position: absolute;
  font-size: 90px;
  font-family: "Montserrat", Oswald;
  font-weight: 900;
  color: #ffffff;
  width: 40%;
  left: 4%;
  letter-spacing: 5px;
  top: 2%;
}

.text-header-login{
  position: absolute;
  font-size: 50px;
  font-family: "Montserrat", Oswald;
  font-weight: 100;
  letter-spacing: 1px;
  letter-spacing: 8px;
  color: white;
  width: 40%;
  left: 4%;
  top: 55%;
}

.login-form-h1{
  font-size: 44px;
  font-family: "Montserrat", Oswald;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  margin-bottom: 70px;
}
.login-form-inputwrapper{
  margin-top: 20px;
}

.login-form-label{
  font-family: "Oswald", sans-serif;
  display: block;
  font-size: 20px;
}
.login-form-input{
  font-family: "Oswald", sans-serif;
  font-size: large;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  padding: 20px 0;
}
.login-form-smallBtn{
  font-weight: bold;
  text-decoration: none;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: block;
}
.login-form-textDecNone{
  text-decoration: none;
  color: black;
}
.login-form-textDecNone:hover{
  color: red;
  transition: all 0.7s ease;
}
.login-btn-disabled{
  background: lightgrey;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: 1px solid black;
}
.login-btn-active{
  background: #4d4c4c;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: white;
}

.login-main-div{
  display: flex;
  height: 100%;
}
.login-form-button-text{
  font-family: "Oswald", sans-serif;
  margin: 0;
}

/* Register */
.register-form-flex-inputs{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 20%;
}

/* Nav menu */

.nav-wrapper{
  margin: 0;
  display: flex;
  margin: 5px 0px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  background: #abaaaa;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.nav-icon{
  width: 100px;
  object-fit: contain;
  border-radius: 10px;
}
.nav-link-icon{
  width: 70px;
}
.nav-link-icon-2{
  width: 70px;
}
.nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 15px;
}

.nav-link-text{
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 34px;
  margin: 0;
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-link-text:hover{
  transform: scale(1.05);
  transition: all 0.7s ease;
}
.active-page{
  text-decoration: underline;
}

.team-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Oswald;
}

.team-not-found-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Oswald;
}

.create-team-button{
  padding: 20px 50px;
  background: #07b907;
  border-radius: 30px;
  font-family: "Montserrat", Oswald;
  font-size: 1rem;
  color: white;
}
.create-team-button:hover{
  background: #067306;
  cursor: pointer;
  transition: all 0.7s ease;
}

.modal-add-post-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.modal-add-post-content-with-panel{
  width: 1150px;
  height: 600px;
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  background: #1e1e1e;
}
.content-while-active-modal{
  opacity: 0.2;
}

.modal-add-post-top-panel-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background: white;
  border-radius: 20px 20px 0 0;
}
.modal-add-post-top-panel-text{
  font-size: 1rem;
  color: #1e1e1e;
  padding: 0.5rem 0.8rem;
  font-family: "Montserrat", sans-serif;
}
.modal-add-post-top-panel-header{
  color: #000000;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}

.modal-add-post-top-panel-text:first-child:hover{
  cursor: pointer;
  color: #f80a2d;
  background: white;
  border-radius: 20px 0 0 0;
  transition: 0.5s background-color ease;
}
.modal-add-post-top-panel-text:last-child:hover{
  cursor: pointer;
  color: #4df60f;
  background: white;
  border-radius: 0 20px 0 0;
  transition: 0.5s background-color ease;
}

.modal-add-post-content{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  gap: 2rem;
}
.modal-add-post-image-part-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-add-post-image-wrapper{
  width: 42rem;
  height: 30rem;
  border-radius: 5px;
  border: 1px solid #1e1e1e;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.modal-add-post-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.modal-add-post-desc-part-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-add-post-textarea{
  border-radius: 5px;
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.modal-add-post-desc-text{
  margin-bottom: 1rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.team-image{
  margin-top: 20px;
  width: 500px;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.edit-team-button{
  min-width: 40%;
  padding: 20px 0;
  background: #444544;
  border-radius: 30px;
  font-family: "Montserrat", Oswald;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.edit-team-button:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}
.team-btns-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.delete-team-button{
  min-width: 40%;
  padding: 20px 0;
  background: #fb3232;
  border-radius: 30px;
  font-family: "Montserrat", Oswald;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.delete-team-button:hover{
  cursor: pointer;
  background: #9a0303;
  transition: 0.5s background-color ease;
}
.team-page-top-info{
  text-align: center;
  max-width: 800px;
}
.team-page-top-image{
  display: flex;
  justify-content: center;
}
.header-my-team{
  padding: 20px 40px;
  background: #1e1e1e;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 1.4rem;
  font-family: "Montserrat", Oswald;
}
.team-wrapper{
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.input-small>input{
  width: 24rem;
  margin-bottom: 30px;
}

.players-content{
  position: relative;
  font-family: "Montserrat", Oswald;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-players{
  margin-top: 50px;
  font-size: 1.5rem;
}
.add-player-button{
  padding: 20px 150px;
  background: #0dc70d;
  border-radius: 30px;
  font-family: "Montserrat", Oswald;
  font-size: 1rem;
  text-align: center;
  color: white;
}
.add-player-button:hover{
  cursor: pointer;
  background: #0a9e0a;
  transition: 0.5s background-color ease;
}
.player-card{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25rem;
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem 10rem;
  background: #4d4c4c;
  color: white;
  text-decoration: none;
}

.player-card:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}

.player-card-image{
  width: 20rem;
  height: 15rem;
  border-radius: 40px;
  object-fit: cover;
}

.player-card-name{
  font-size: 1.5rem;
  font-family: "Montserrat", Oswald;
  text-align: right;
}

.circle-avg-heartbeat{
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Montserrat", Oswald;
  color: white;
  text-align: center;
}

.player-wrapper{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 1rem 10rem;
  padding: 5rem 0rem;
  border: 1px solid black;
  border-radius: 20px;
}

.player-image{
    border-radius: 40px;
    object-fit: cover;
    width: 40rem;
}

.player-info-wrapper{
  text-align: right;
  font-size: 1.5rem;
  font-family: "Montserrat", Oswald;
}

.game-card-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin: 1rem 10rem;
  padding: 2rem;
  background: #4d4c4c;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Montserrat", Oswald;
}

.game-card-wrapper:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}

.game-card-image{
  border-radius: 40px;
  object-fit: cover;
  width: 300px;
}

.green{
  color: #0dc70d!important;
}

.yellow{
  color: #f7f70d!important;
}

.red{
  color: #fb3232!important;
}

.heartbeat-circle{
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Montserrat", Oswald;
  color: white;
  text-align: center;
}
.game-card-info-wrapper{
  text-align: right;
  font-size: 1.5rem;
  font-family: "Montserrat", Oswald;
}

.game-card-id{
  font-size: 2rem;
  font-weight: 900;
  color: #0a9e0a;
  margin-bottom: 1rem;
  font-family: "Montserrat", Oswald;
}

.games-analysis-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.games-analysis{
  gap: 5rem;
  margin: 0.5rem;
  padding: 1rem 10rem;
  background: #4d4c4c;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Montserrat", Oswald;
  font-size: 1.5rem;
}

.player-info{
  position: relative;
}

.delete-player-btn{
  color: #1e1e1e;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 20px;
  background: yellow;
  font-family: "Montserrat", Oswald;
  font-weight: 900;
  min-width: 30%;
  text-align: center;
}
.edit-player-btn{
  color: #1e1e1e;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 20px;
  background: #f16464;
  font-family: "Montserrat", Oswald;
  font-weight: 900;
  min-width: 30%;
  text-align: center;
}

.edit-player-btn:hover{
  cursor: pointer;
  color: white;
  background: #aa0202;
  transition: 0.5s background-color ease;
}

.delete-player-btn:hover{
  cursor: pointer;
  color: white;
  background: #9e9e18;
  transition: 0.5s background-color ease;
}
.absolute{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  gap: 680%;
}

.flex{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.input-wrapper>div>input{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 20px;
  background: #4d4c4c;
  color: white;
  font-family: "Montserrat", Oswald;
  font-weight: 900;
  font-size: 1.5rem;
}

.player-info-wrapper>div>h1{
  max-width:20rem;
  word-break: break-word;
  max-height: 20rem;
  overflow-y: auto;
}
.list-item-recomm{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 10rem;
  padding: 2rem 10rem;
  background: #4d4c4c;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Montserrat", Oswald;
  font-size: 1.2rem;
  color: white;
  font-weight: 100;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.list-item-recomm:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}
.header-analysis{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem 10rem;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Montserrat", Oswald;
  font-weight: 900;
  font-size: 1.4rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.red-bc{
    background: #fd2828!important;
}
.green-bc{
  background: #0dc70d!important;
}

.flex-col-desc-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Montserrat", Oswald;
  font-size: 1.3rem;
  padding: 2rem;
  margin: 2rem 30rem;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
  background: #4d4c4c;
  color: white;
}
.header-text-desc-game{
  font-family: "Montserrat", Oswald;
  font-size: 1.5rem;
  font-weight: 900;
}

.chart-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 9rem;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid black;
}

.header-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Montserrat", Oswald;
  font-size: 1.3rem;
  padding: 2rem;
  margin: 1rem 30rem;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
  background: #4d4c4c;
  color: white;
}

.error-server{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Montserrat", Oswald;
  font-size: 1.3rem;
  padding: 2rem;
  margin: 1rem 30rem;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
  background: #4d4c4c;
  color: white;
}

.create-game-btn{
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  background: #4d4c4c;
  color: white;
}
.create-game-btn:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}

.player-training-card-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin: 3rem 12rem;
  padding: 1rem 5rem;
}
.player-training-card-img{
  width: 8rem;
  height: 8rem;
  border-radius: 20px;
  border: 1px solid black;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.player-training-card-info{
  font-size: 1.2rem;
  font-family: "Montserrat", Oswald;
  text-align: right;
  max-width: 15rem;
  word-break: break-word;
  max-height: 20rem;
}
.channel-id-input{
  margin-top: 0.3rem;
}
.label{
  margin: 0;
  font-family: "Montserrat", Oswald;
  font-size: 0.5rem;
}
.white-bc{
  background: white;
  color: black!important;
}
.gray-bc{
  background: #4d4c4c;
  color: white!important;
}
.absolute-btn-connect-to-iot{
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  background: #4d4c4c;
  color: white;
}
.absolute-btn-connect-to-iot:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}

.player-card-training-wrapper{
  margin: 1rem 20rem;
}

.player-card-image-training{
  width: 8rem;
  height: 8rem;
  border-radius: 20px;
  border: 1px solid black;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.player-card-training-current{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5rem 5rem;
  background: #4d4c4c;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.charts-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chart-wrapper-current{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    border-radius: 20px;
    padding: 2rem;
    border: 1px solid black;
}

.end-game-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 20rem;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid black;
  background: #4d4c4c;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", Oswald;
}

.end-game-btn:hover{
  cursor: pointer;
  background: #1e1e1e;
  transition: 0.5s background-color ease;
}